name: CI
on:
  workflow_call:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-15
          - ubuntu-24.04
          - windows-2025
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: curioswitch/go-build/.github/actions/setup-go@8304121f488a5faa0b1ff094b6e2abc8da5b6c43 # v0.7.1

      - name: run lint
        if: startsWith(matrix.os, 'ubuntu-')
        run: go run ./build lint

      - name: run tests
        run: go run ./build test

      - name: build snapshot
        if: startsWith(matrix.os, 'ubuntu-')
        run: go run ./build snapshot
